.about-header{
    margin: 20px auto;
    font-family: 'Lobster', cursive;
    color: #0575B7;
    text-shadow:
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
    text-align: center;
    margin: 30px auto;
}

.about-content{
    font-size: 20px;
    margin: 20px;
    text-align: center;
}